@import url(https://fonts.googleapis.com/css?family=Pacifico);
body{
  margin: 0;
  background-image: url("img/paul-volkmer-qVotvbsuM_c-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;

}

#container{
  width: 800px;
  max-width: 80%;
  height: 100%;
  min-height: 100vh;
}

h1{
  color: white;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 60px;
  text-transform: uppercase;
  padding: 0 10px;
  font-family: "Pacifico", sans-serif;
  text-transform: none!important;
}
.input-area{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
input{
  width: 200px;
  height: 30px;
  font-size: 17px;
  border-radius: 15px;
  outline: none;
  margin-right: 7px;
  padding-left: 15px;
}
#add-button{
  border-radius: 15px;
  border: none;
  width: 40px;
  font-size: 20px;
  font-weight: 800;
  background-color: rgb(179, 245, 245);
}
#add-button:hover{
  cursor: pointer;
}

.task-area{
  height: 60vh;
  }
.task-tabs{
  background-color: white;
  margin-top: 50px;
  display: flex;
  position: relative;
  justify-content: center;
}
.task-tabs div{
  padding: 1em;
  cursor: pointer;
  position: inherit;
  font-size: 20px;

}
.task-tabs div:hover{
  transform:scale(1.2);
}

#under-line{
  background-color: #7ce7e2;
  height: 9px !important;
  position: absolute;
  top: 57.5px;
  left: 0px;
  width:0;
  transition: 0.5s;
  padding: 0px;
}

#task-board{
  background-color: rgba(255,255,255,0.6);
  max-width: 100%;
  padding: 13px;
  border-bottom: 2px pink;
}
.task{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 900;
  font-size: larger;
  margin-left: 10px;
  padding: 8px;
  border: 1px black;
}
.task-done span{
  text-decoration: line-through;
  color: gray;
}

#button-area{
  margin-right: 10px;
}
#button-area button{
  font-size: large;
  padding: 8px;
  margin: 0 5px;
  background-color: black;
  color: white;
  border: none;
}

