@import url(https://fonts.googleapis.com/css?family=Pacifico);
body{
  margin: 0;
  background-image: url("img/paul-volkmer-qVotvbsuM_c-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;

}

#container{
  width: 60%;
  max-width: 80%;
  height: 100%;
  min-height: 100vh;
}

h1{
  color: white;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 3em;
  text-transform: uppercase;
  padding: 0 5%px;
  font-family: "Pacifico", sans-serif;
  text-transform: none!important;
}
.input-area{
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
input{
  width: 20vw;
  height: 6vh;
  font-size: 70%;
  border-radius: 15px;
  outline: none;
  margin-right: 2%;
  padding-left: 10%;
}
#add-button{
  border-radius: 10px;
  border: none;
  width: 1.5em;
  font-size: 1.5em;
  font-weight: 800;
  background-color: rgb(179, 245, 245);
}
#add-button:hover{
  cursor: pointer;
}

.task-area{
  height: 60vh;
  }
.task-tabs{
  background-color: white;
  margin-top: 5%;
  display: flex;
  position: relative;
  justify-content: center;
}
.task-tabs div{
  padding: 1em;
  cursor: pointer;
  position: inherit;
  font-size: 30%
  font-weight: 500;
}
.task-tabs div:hover{
  transform:scale(1.1);
}

#under-line{
  background-color: #7ce7e2;
  height: 0.5em !important;
  position: absolute;
  top: 80%;
  left: 0;
  width:0;
  transition: 0.5s;
  padding: 0;
}

#task-board{
  background-color: rgba(255,255,255,0.6);
  max-width: 100%;
  padding: 2%;
  border-bottom: 2vh pink;
}
.task{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 900;
  font-size: larger;
  margin-left: 3%;
  padding: 2%;
  border: 1px black;
}
.task-done span{
  text-decoration: line-through;
  color: gray;
}

#button-area{
  margin-right: 3%;
}
#button-area button{
  font-size:70%;
  padding: 8px;
  margin: 0 5px;
  background-color: black;
  color: white;
  border: none;
}
#button-area button:hover{
  cursor: pointer;
}

